# The core maintainer owns all files
# except files which have code owners.
*                    @pocke

# Maintainer of individual gems (alphabetical order)
/gems/actionpack     @ksss
/gems/actionview     @ksss
/gems/activejob      @ksss
/gems/activemodel    @ksss
/gems/activerecord   @ksss
/gems/activestorage  @ksss
/gems/activesupport  @ksss
/gems/ast            @pocke
/gems/aws-sdk-*      @ksss
/gems/i18n           @takahashim
/gems/railties       @ksss
/gems/rolify         @ksss

# Misc
/generators/aws-sdk-rbs-generator @ksss
/generators/rails-generator @ksss
