# The core maintainer owns all files
# except files which have code owners.
*                    @pocke

# Maintainer of individual gems (alphabetical order)
/gems/ast            @pocke
/gems/aws-sdk-*      @ksss
/gems/i18n           @takahashim
/gems/rolify         @ksss
/gems/yard           @ksss

# Misc
/generators/aws-sdk-rbs-generator @ksss
