[submodule "gems/redis/4.2/_src"]
	path = gems/redis/4.2/_src
	url = https://github.com/redis/redis-rb.git
[submodule "gems/retryable/3.0/_src"]
	path = gems/retryable/3.0/_src
	url = https://github.com/nfedyashev/retryable.git
[submodule "gems/listen/3.2/_src"]
	path = gems/listen/3.2/_src
	url = https://github.com/guard/listen.git
[submodule "gems/rainbow/3.0/_src"]
	path = gems/rainbow/3.0/_src
	url = https://github.com/sickill/rainbow.git
[submodule "gems/railties/6.0/_src"]
	path = gems/railties/6.0/_src
	url = https://github.com/rails/rails.git
[submodule "gems/railties/6.0/_rbs_rails"]
	path = gems/railties/6.0/_rbs_rails
	url = https://github.com/pocke/rbs_rails.git
[submodule "gems/protobuf/3.10.3/_src"]
	path = gems/protobuf/3.10.3/_src
	url = https://github.com/ruby-protobuf/protobuf.git
[submodule "gems/parallel/1.20/_src"]
	path = gems/parallel/1.20/_src
	url = https://github.com/grosser/parallel.git
[submodule "gems/chunky_png/1.4.0/_src"]
	path = gems/chunky_png/1.4.0/_src
	url = https://github.com/wvanbergen/chunky_png.git
[submodule "gems/httparty/0.18/_src"]
	path = gems/httparty/0.18/_src
	url = https://github.com/jnunemaker/httparty.git
[submodule "gems/sidekiq/6.2/_src"]
	path = gems/sidekiq/6.2/_src
	url = https://github.com/mperham/sidekiq.git
[submodule "gems/ulid/1.3/_src"]
	path = gems/ulid/1.3/_src
	url = https://github.com/rafaelsales/ulid.git
[submodule "gems/regexp_trie/1.0/_src"]
	path = gems/regexp_trie/1.0/_src
	url = https://github.com/gfx/ruby-regexp_trie.git
[submodule "gems/httpclient/2.8/_src"]
	path = gems/httpclient/2.8/_src
	url = https://github.com/nahi/httpclient.git
[submodule "gems/graphql/1.12/_src"]
	path = gems/graphql/1.12/_src
	url = https://github.com/rmosolgo/graphql-ruby.git
[submodule "gems/chronic/0.10/_src"]
	path = gems/chronic/0.10/_src
	url = https://github.com/mojombo/chronic.git
[submodule "gems/woothee/1.11/_src"]
	path = gems/woothee/1.11/_src
	url = https://github.com/woothee/woothee-ruby.git
[submodule "gems/wavedash/0.1/_src"]
	path = gems/wavedash/0.1/_src
	url = https://github.com/takatoshiono/wavedash.git
[submodule "gems/delayed_job/4.1/_src"]
	path = gems/delayed_job/4.1/_src
	url = https://github.com/collectiveidea/delayed_job.git
[submodule "gems/zengin_code/1.0/_src"]
	path = gems/zengin_code/1.0/_src
	url = https://github.com/zengin-code/zengin-rb.git
[submodule "gems/delayed_job_active_record/4.1/_src"]
	path = gems/delayed_job_active_record/4.1/_src
	url = https://github.com/collectiveidea/delayed_job_active_record.git
[submodule "gems/bcrypt/3.1/_src"]
	path = gems/bcrypt/3.1/_src
	url = https://github.com/bcrypt-ruby/bcrypt-ruby.git
[submodule "generators/aws-sdk-rbs-generator/_src"]
	path = generators/aws-sdk-rbs-generator/_src
	url = https://github.com/aws/aws-sdk-ruby.git
[submodule "gems/sentry-ruby/5.2/_src"]
	path = gems/sentry-ruby/5.2/_src
	url = https://github.com/getsentry/sentry-ruby.git
[submodule "gems/paranoia/2.5/_src"]
	path = gems/paranoia/2.5/_src
	url = https://github.com/rubysherpas/paranoia.git
[submodule "gems/i18n/1.10/_src"]
	path = gems/i18n/1.10/_src
	url = https://github.com/ruby-i18n/i18n.git
[submodule "gems/rolify/6.0/_src"]
	path = gems/rolify/6.0/_src
	url = https://github.com/RolifyCommunity/rolify.git
[submodule "gems/active_decorator/1.4/_src"]
	path = gems/active_decorator/1.4/_src
	url = https://github.com/amatsuda/active_decorator.git
[submodule "gems/enumerize/2.5/_src"]
	path = gems/enumerize/2.5/_src
	url = https://github.com/brainspec/enumerize.git
[submodule "gems/faraday/2.5/_src"]
	path = gems/faraday/2.5/_src
	url = https://github.com/lostisland/faraday.git
[submodule "gems/holidays/8.4/_src"]
	path = gems/holidays/8.4/_src
	url = https://github.com/holidays/holidays.git
[submodule "gems/line-bot-api/1.25/_src"]
	path = gems/line-bot-api/1.25/_src
	url = https://github.com/line/line-bot-sdk-ruby.git
[submodule "gems/sorcery/0.16/_src"]
	path = gems/sorcery/0.16/_src
	url = https://github.com/Sorcery/sorcery.git
[submodule "gems/mail/2.8/_src"]
	path = gems/mail/2.8/_src
	url = https://github.com/mikel/mail.git
[submodule "gems/hashie/5.0/_src"]
	path = gems/hashie/5.0/_src
	url = https://github.com/hashie/hashie.git
[submodule "gems/faker/2.23/_src"]
	path = gems/faker/2.23/_src
	url = https://github.com/faker-ruby/faker.git
[submodule "gems/moji/1.6/_src"]
	path = gems/moji/1.6/_src
	url = https://github.com/gimite/moji.git
[submodule "gems/jwt/2.5/_src"]
	path = gems/jwt/2.5/_src
	url = https://github.com/jwt/ruby-jwt.git
[submodule "gems/spreadsheat/1.3/_src"]
	path = gems/spreadsheat/1.3/_src
	url = https://github.com/zdavatz/spreadsheet.git
[submodule "gems/rails-dom-testing/2.0/_src"]
	path = gems/rails-dom-testing/2.0/_src
	url = https://github.com/rails/rails-dom-testing.git
[submodule "gems/binding_of_caller/1.0/_src"]
	path = gems/binding_of_caller/1.0/_src
	url = https://github.com/banister/binding_of_caller.git
[submodule "gems/holiday_jp/0.8/_src"]
	path = gems/holiday_jp/0.8/_src
	url = https://github.com/holiday-jp/holiday_jp-ruby.git
[submodule "gems/business_time/0.13/_src"]
	path = gems/business_time/0.13/_src
	url = https://github.com/bokmann/business_time.git
[submodule "gems/slack-notifier/2.4/_src"]
	path = gems/slack-notifier/2.4/_src
	url = https://github.com/slack-notifier/slack-notifier.git
[submodule "gems/concurrent-ruby/1.1/_src"]
	path = gems/concurrent-ruby/1.1/_src
	url = https://github.com/ruby-concurrency/concurrent-ruby.git
[submodule "gems/gimei/1.1/_src"]
	path = gems/gimei/1.1/_src
	url = https://github.com/willnet/gimei.git
