[submodule "gems/redis/4.2/_src"]
	path = gems/redis/4.2/_src
	url = https://github.com/redis/redis-rb.git
[submodule "gems/retryable/3.0/_src"]
	path = gems/retryable/3.0/_src
	url = https://github.com/nfedyashev/retryable.git
[submodule "gems/listen/3.2/_src"]
	path = gems/listen/3.2/_src
	url = https://github.com/guard/listen.git
[submodule "gems/rainbow/3.0/_src"]
	path = gems/rainbow/3.0/_src
	url = https://github.com/sickill/rainbow.git
[submodule "gems/railties/6.0.3.2/_src"]
	path = gems/railties/6.0.3.2/_src
	url = https://github.com/rails/rails.git
[submodule "gems/railties/6.0.3.2/_rbs_rails"]
	path = gems/railties/6.0.3.2/_rbs_rails
	url = https://github.com/pocke/rbs_rails.git
