[submodule "gems/redis/4.2/_src"]
	path = gems/redis/4.2/_src
	url = https://github.com/redis/redis-rb.git
[submodule "gems/retryable/3.0/_src"]
	path = gems/retryable/3.0/_src
	url = https://github.com/nfedyashev/retryable.git
[submodule "gems/listen/3.2/_src"]
	path = gems/listen/3.2/_src
	url = https://github.com/guard/listen.git
[submodule "gems/rainbow/3.0/_src"]
	path = gems/rainbow/3.0/_src
	url = https://github.com/sickill/rainbow.git
