{{warning_comment}}
module Aws
  module {{service_name}}
    class Client < Seahorse::Client::Base
      include Aws::ClientStubs

      def self.new: ({{client_option}}) -> instance
      {{#operations}}
      def {{method_name}}: ({{arguments}}) -> {{returns}}
      {{/operations}}
      {{#waiters?}}
      {{#waiters_first}}
      def wait_until: ({{name}} waiter_name, {{params}} params, ?Aws::Waiters::waiter_options options) -> {{returns}}
      {{/waiters_first}}
      {{#waiters_others}}
                    | ({{name}} waiter_name, {{params}} params, ?Aws::Waiters::waiter_options options) -> {{returns}}
      {{/waiters_others}}
      {{/waiters?}}
    end
  end
end

