{{warning_comment}}
module Aws
  module {{service_name}}
    class Resource
      def initialize: (?client: Client, {{client_option}}) -> void
      def client: () -> Client

      # actions

      {{#actions}}
      def {{method_name}}: ({{arguments}}) -> {{returns}}
      {{/actions}}

      # associations

      {{#associations}}
      def {{method_name}}: ({{arguments}}) -> {{returns}}
      {{/associations}}
    end
  end
end
