name: Test

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  syntax_check:
    runs-on: ubuntu-latest
    container:
      image: rubylang/ruby:3.1-focal
    steps:
    - uses: actions/checkout@v3
    - name: 'Install dependencies'
      run: 'gem install rbs'
    - name: 'Test syntax check'
      run: 'rbs parse gems/**/*.rbs'
  test_on_changed_gems:
    runs-on: ubuntu-latest
    container:
      image: rubylang/ruby:3.1-focal
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2
    - name: 'Install dependencies'
      run: 'bundle install --frozen'
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v31.0.1
    - name: 'Run test on changed gems'
      run: |
        CHANGED_GEMS="$(echo ${{ steps.changed-files.outputs.all_modified_files }} | ruby -e 'puts gets.split.filter_map{_1[%r!^(gems/[^/]+/[^/]+/)!, 1]}.uniq.join(%q! !)')"
        echo "Changed gems: ${CHANGED_GEMS}"
        if [ -n "${CHANGED_GEMS}" ]; then
          bin/test $CHANGED_GEMS --verbose
        fi
